/.metadata/
*.xmi
*.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Css_1/.markers.snap
*.snap
*.prefs
*.index
*.resources
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.ini
*.dat
*.properties
*.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.web.core.prefs
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Html_ex1/.indexes/5b/3/history.index
